# Environnement
.env

# Modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers d'IDE et éditeurs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Fichiers temporaires
.DS_Store
.tmp
.temp

# Fichiers de build
/dist
/build
